@model UserManagement.Models.Entities.RolePermission

@{
    ViewBag.Title = "AssignPermissionToRole";
}

<h2>AssignPermissionToRole</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RolePermission</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.RoleId)*@
                @Html.DropDownListFor(model => model.RoleId, new System.Web.Mvc.SelectList(ViewBag.roles, "RoleId", "RoleName"), "--Select Role--")
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermissionId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(Model => Model.PermissionId, new System.Web.Mvc.SelectList(ViewBag.permissions, "PermissionId", "Name"),"--Select Permission--")
                @Html.ValidationMessageFor(model => model.PermissionId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
